<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>用户列表</title>

    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="/css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin">


<script type="text/javascript">
    try {
        ace.settings.loadState('main-container')
    } catch (e) {
    }

    function addUser() {
        location.href = "/addUser";
    }
</script>

<button th:text="新增用户" style="margin-bottom: 20px;margin-top: 20px;margin-left: 80%" th:onclick="'addUser()'"></button>
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="simple-table" class="table  table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>昵称</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>手机号码</th>
                                    <th>邮箱</th>
                                    <th class="hidden-480">头像</th>
                                    <th class="hidden-480">是否锁定</th>
                                    <th class="hidden-480">过期时间</th>
                                    <th class="hidden-480">创建时间</th>
                                    <th class="hidden-480">最后修改时间</th>
                                    <th class="hidden-480">删除时间</th>
                                    <th class="hidden-480">操作</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr th:each="user,statu:${pageInfo}">
                                    <td class="center" th:text="${statu.index+1}"></td>
                                    <td th:text="${user.nickname}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.sex==1} ? '男' : '女'"></td>
                                    <td th:text="${user.phone}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td><img src="/images/avatars/profile-pic.jpg" width="25" height="25"></td>
                                    <td th:text="${user.isLock==0} ? '正常' : '锁定'"></td>
                                    <td th:text="${user.expTime == null} ? '未过期' : ${#dates.format(user.expTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${user.gmtCreate == null} ? '' : ${#dates.format(user.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${user.gmtModified == null} ? '' : ${#dates.format(user.gmtModified,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${user.isDel == null} ? '正常' : ${#dates.format(user.isDel,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">

                                            <button class="btn btn-xs btn-info" th:onclick="'editUser('+${user.id}+')'">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger"
                                                    th:onclick="'delUser('+${user.id}+')'">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.span -->
                    </div><!-- /.row -->
                    <div th:utext="${page}" >
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>

            &nbsp; &nbsp;
            <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.flash.min.js"></script>
<script src="/js/buttons.html5.min.js"></script>
<script src="/js/buttons.print.min.js"></script>
<script src="/js/buttons.colVis.min.js"></script>
<script src="/js/dataTables.select.min.js"></script>
<script src="/layer/layer.js"></script>

<!-- ace scripts -->
<script src="/js/ace-elements.min.js"></script>
<script src="/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var myTable =
            $('#dynamic-table')
                .DataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        {"bSortable": false},
                        null, null, null, null, null,
                        {"bSortable": false}
                    ],
                    "aaSorting": [],
                    //"bProcessing": true,
                    //"bServerSide": true,
                    //"sAjaxSource": "http://127.0.0.1/table.php"	,

                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,

                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                    //"iDisplayLength": 50
                });


    })

    //用户新增
    function addUser() {
        var index = layer.open({
                title: "用户新增",
                type: 2,
                area: ['800px', '500px'],
                shadeClose: true, //点击遮罩关闭
                content: '/addUser',
                fix: true
            }
        );
    }

    //用户修改
    function editUser(userId) {
        var index = layer.open({
                title: "用户修改",
                type: 2,
                area: ['800px', '500px'],
                shadeClose: true, //点击遮罩关闭
                content: '/editUser?userId=' + userId,
                fix: true
            }
        );
    }

    //用户删除
    function delUser(userId) {
        layer.confirm("确认删除吗？", {
                btn: ['确定', '取消']//按钮
            }, function (index) {
                $.ajax({
                    url: '/deleteUser?userId=' + userId,
                    type: 'DELETE',
                    dataType: 'json',
                    data: $(".form-horizontal").serialize(),
                    async: false,
                    success: function (data) {
                        if (data != null && true == data.succeed) {
                            layer.msg("删除成功", {time: 1000}, function () {
                                window.parent.location.reload()
                                layer.close();
                            })
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                })
            }
        )
    }
</script>
</body>
</html>
