<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>Ace Admin 管理后台</title>
        <meta name="description" content="404 Error Page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/font-awesome.css" />

        <!-- page specific plugin styles -->
        <!-- text fonts -->
        <link rel="stylesheet" href="/css/ace-fonts.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="/css/ace-part2.css" class="ace-main-stylesheet" />
        <![endif]-->

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="/css/ace-ie.css" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="/js/ace-extra.js"></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.js"></script>
        <![endif]-->
    </head>

    <body class="no-skin">
        <div id="ie_lt9_alert" style="display:none;z-index:99999;position:absolute;left:0;top:0;width:100%;height:60px;line-height: 60px;color:red;font-size:14px;font-weight: bold;text-align: center;background-color: #f6ea13;border:1px solid #000">
            您的浏览器版本太低了，请升级到 IE 10 以上或用chrome、firefox浏览器，才有最佳浏览效果！<a href="javascript:void(0)" onclick="javascript:$('#ie_lt9_alert').css({'display':'none'});" >[关闭提示]</a>
        </div>

        <!-- #section:basics/navbar.layout -->
        <div id="navbar" class="navbar navbar-default">
            <script type="text/javascript">
                try{ace.settings.check('navbar' , 'fixed')}catch(e){}
            </script>

            <div class="navbar-container" id="navbar-container">
                <!-- #section:basics/sidebar.mobile.toggle -->
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>

                <!-- /section:basics/sidebar.mobile.toggle -->
                <div class="navbar-header pull-left">
                    <!-- #section:basics/navbar.layout.brand -->
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="fa fa-leaf"></i>
                            Ace Admin
                        </small>
                    </a>

                    <!-- /section:basics/navbar.layout.brand -->
                    <!-- #section:basics/navbar.toggle -->
                    <!-- /section:basics/navbar.toggle -->
                </div>

                <!-- #section:basics/navbar.dropdown -->
                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <!--测试-->
                        <li class="grey"><!--1、任务-->
                            <div class="nav-mo">
                                <div class="nav-lis">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <i class="ace-icon fa fa-tasks"></i>
                                        <span class="badge badge-grey">4</span>
                                    </a>

                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                        <li class="dropdown-header">
                                            <i class="ace-icon fa fa-check"></i>
                                            4 个任务待完成
                                        </li>

                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar">
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">软件更新</span>
                                                            <span class="pull-right">65%</span>
                                                        </div>

                                                        <div class="progress progress-mini">
                                                            <div style="width:65%" class="progress-bar"></div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">硬件更新</span>
                                                            <span class="pull-right">35%</span>
                                                        </div>

                                                        <div class="progress progress-mini">
                                                            <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">单元测试</span>
                                                            <span class="pull-right">15%</span>
                                                        </div>

                                                        <div class="progress progress-mini">
                                                            <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Bug 修复</span>
                                                            <span class="pull-right">90%</span>
                                                        </div>

                                                        <div class="progress progress-mini progress-striped active">
                                                            <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-footer">
                                            <a href="#">
                                                查看所有任务详情
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><!--/end 测试-->

                        <li class="purple"><!--2、系统通知-->
                            <div class="nav-mo">
                                <div class="nav-lis">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                                        <span class="badge badge-important">8</span>
                                    </a>

                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close navbar-pink">
                                        <li class="dropdown-header">
                                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                                            8 条通知
                                        </li>

                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">
                                                                <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                                新通知
                                                            </span>
                                                            <span class="pull-right badge badge-info">+12</span>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                                                        Bob just signed up as an editor ...
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">
                                                                <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                                新订单
                                                            </span>
                                                            <span class="pull-right badge badge-success">+8</span>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">
                                                                <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                                Followers
                                                            </span>
                                                            <span class="pull-right badge badge-info">+11</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-footer">
                                            <a href="#">
                                                查看所有通知
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="green"><!--3、站内信-->
                            <div class="nav-mo">
                                <div class="nav-lis">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                                        <span class="badge badge-success">5</span>
                                    </a>

                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close navbar-green">
                                        <li class="dropdown-header">
                                            <i class="ace-icon fa fa-envelope-o"></i>
                                            5 条消息
                                        </li>

                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar">
                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Alex:</span>
                                                                Ciao sociis natoque penatibus et auctor ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>a moment ago</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Susan:</span>
                                                                Vestibulum id ligula porta felis euismod ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>20 minutes ago</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Bob:</span>
                                                                Nullam quis risus eget urna mollis ornare ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>3:15 pm</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Kate:</span>
                                                                Ciao sociis natoque eget urna mollis ornare ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>1:33 pm</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Fred:</span>
                                                                Vestibulum id penatibus et auctor  ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>10:09 am</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-footer">
                                            <a href="inbox.html">
                                                查看所有消息
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </li>

                        <!-- #section:basics/用户菜单 -->
                        <li class="light-blue">
                            <div class="nav-mo">
                                <div class="nav-lis">

                                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                        <img class="nav-user-photo" src="/avatars/user.jpg" alt="Jason's Photo" />
                                        <span class="user-info">
                                            <small>欢迎,</small>
                                            Jason Gao
                                        </span>

                                        <i class="ace-icon fa fa-caret-down"></i>
                                    </a>

                                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-cog"></i>
                                                设置
                                            </a>
                                        </li>

                                        <li>
                                            <a href="profile.html">
                                                <i class="ace-icon fa fa-user"></i>
                                                个人信息
                                            </a>
                                        </li>

                                        <li class="divider"></li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-power-off"></i>
                                                退出系统
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!-- 退出系统 -->
                        <li class="light-orange">
                            <div class="nav-mo">
                                <div class="nav-lis">
                                    <a href="#">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        退出
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- /section:basics/navbar.dropdown -->
            </div><!-- /.navbar-container -->
        </div>

        <!-- /section:basics/navbar.layout -->
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>

            <!-- #section:basics/sidebar -->
            <div id="sidebar" class="sidebar responsive">
                <script type="text/javascript">
                    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                </script>

                <!--菜单上面的四格快捷方式：删除-->
                <div class="quick-nav"><i class="fa fa-rocket fa-2x"></i>快捷菜单</div>
                <div class="sidebar-shortcuts" id="sidebar-shortcuts" style="display: none">
                    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <button class="btn btn-success">
                            <i class="ace-icon fa fa-signal"></i>
                        </button>

                        <button class="btn btn-info">
                            <i class="ace-icon fa fa-pencil"></i>
                        </button>

                        <!-- #section:basics/sidebar.layout.shortcuts -->
                        <button class="btn btn-warning">
                            <i class="ace-icon fa fa-users"></i>
                        </button>

                        <button class="btn btn-danger">
                            <i class="ace-icon fa fa-cogs"></i>
                        </button>

                        <!-- /section:basics/sidebar.layout.shortcuts -->
                    </div>


                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>
                </div><!-- /.sidebar-shortcuts -->

                <!-- #section:菜单升缩条 -->
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>

                <ul class="nav nav-list">
                    <li class="active">
                        <a href="test.html">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text"> 控制台 </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text">
                                UI 组件
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="#" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    页局与菜单
                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>

                                <ul class="submenu">
                                    <li class="">
                                        <a href="top-menu.html">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            顶部菜单
                                        </a>

                                        <b class="arrow"></b>
                                    </li>

                                    <li class="">
                                        <a href="two-menu-1.html">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            双菜单1
                                        </a>

                                        <b class="arrow"></b>
                                    </li>

                                    <li class="">
                                        <a href="two-menu-2.html">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            双菜单2
                                        </a>

                                        <b class="arrow"></b>
                                    </li>

                                    <li class="">
                                        <a href="mobile-menu-1.html">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            默认移动菜单
                                        </a>

                                        <b class="arrow"></b>
                                    </li>

                                    <li class="">
                                        <a href="mobile-menu-2.html">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            移动菜单2
                                        </a>

                                        <b class="arrow"></b>
                                    </li>

                                    <li class="">
                                        <a href="mobile-menu-3.html">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            双菜单3
                                        </a>

                                        <b class="arrow"></b>
                                    </li>
                                </ul>
                            </li>

                            <li class="">
                                <a href="typography.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    排版
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="elements.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    元素
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="buttons.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    按钮 & 图表
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="content-slider.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    伸缩内容
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="treeview.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    树菜单
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="jquery-ui.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    jQuery UI
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="nestable-list.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    嵌套列表
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="#" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-caret-right"></i>

                                    三级菜单
                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>

                                <ul class="submenu">
                                    <li class="">
                                        <a href="#">
                                            <i class="menu-icon fa fa-leaf green"></i>
                                            Item #1
                                        </a>

                                        <b class="arrow"></b>
                                    </li>

                                    <li class="">
                                        <a href="#" class="dropdown-toggle">
                                            <i class="menu-icon fa fa-pencil orange"></i>

                                            4th level
                                            <b class="arrow fa fa-angle-down"></b>
                                        </a>

                                        <b class="arrow"></b>

                                        <ul class="submenu">
                                            <li class="">
                                                <a href="#">
                                                    <i class="menu-icon fa fa-plus purple"></i>
                                                    Add Product
                                                </a>

                                                <b class="arrow"></b>
                                            </li>

                                            <li class="">
                                                <a href="#">
                                                    <i class="menu-icon fa fa-eye pink"></i>
                                                    View Products
                                                </a>

                                                <b class="arrow"></b>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-list"></i>
                            <span class="menu-text"> 表格 </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="tables.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    简单和动态表
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="jqgrid.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    jqGrid 插件
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-pencil-square-o"></i>
                            <span class="menu-text"> 表单 </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="form-elements.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    表单元素
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="form-elements-2.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    表单元素2
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="form-wizard.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    表单向导&验证
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="wysiwyg.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    编辑器
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="dropzone.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    文件上传
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="widgets.html">
                            <i class="menu-icon fa fa-list-alt"></i>
                            <span class="menu-text"> 插件 </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="calendar.html">
                            <i class="menu-icon fa fa-calendar"></i>

                            <span class="menu-text">
                                日历

                                <!-- #section:basics/sidebar.layout.badge -->
                                <span class="badge badge-transparent tooltip-error" title="2 Important Events">
                                    <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                                </span>

                                <!-- /section:basics/sidebar.layout.badge -->
                            </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="gallery.html">
                            <i class="menu-icon fa fa-picture-o"></i>
                            <span class="menu-text"> 相册 </span>
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-tag"></i>
                            <span class="menu-text"> 更多页面 </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="profile.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    用户信息
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="inbox.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    收件箱
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="pricing.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    报价单
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="invoice.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    购物车
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="timeline.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    时间轴
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="email.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Email 模板
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="login.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    登录与注册
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-file-o"></i>

                            <span class="menu-text">
                                其它页面

                                <!-- #section:basics/sidebar.layout.badge -->
                                <span class="badge badge-primary">5</span>

                                <!-- /section:basics/sidebar.layout.badge -->
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="faq.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    FAQ帮助
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="test.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    404错误页面
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="error-500.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    500错误页面
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="grid.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    网格
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="blank.html">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    空白页
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                </ul><!-- /.nav-list -->

                <ul class="nav nav-list" th:each="menu:${data}">
                    <li class="" th:replace="navBarMenu::nav(${menu})">
                    </li>
                </ul>

                <!-- /section:basics/sidebar.layout.minimize -->
                <script type="text/javascript">
                    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                </script>
            </div>

            <!-- /section:basics/sidebar -->
            <div class="main-content">
                <div class="main-content-inner">
                    <!-- #section:basics/content.breadcrumbs内容区面包屑 -->
                    <div class="breadcrumbs" id="breadcrumbs">
                        <script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                        </script>

                        <ul class="breadcrumb">
                            <li>
                                <i class="ace-icon fa fa-home home-icon"></i>
                                <a href="#">首页</a>
                            </li>

                            <li>
                                <a href="#">其它页面</a>
                            </li>
                            <li class="active">404错误</li>
                        </ul><!-- /.breadcrumb -->

                        <!-- #section:basics/搜索盒子-->
                        <div class="nav-search" id="nav-search" style="display: none">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div><!-- /.nav-search -->
                    </div>


                    <!-- 内容区 -->
                    <div class="page-content">
                        <!-- #section:设置框：也可手动修改ace.settings.js文件 -->
                        <div class="ace-settings-container" id="ace-settings-container" style="display: ">
                            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                                <i class="ace-icon fa fa-cog bigger-130"></i>
                            </div>

                            <div class="ace-settings-box clearfix" id="ace-settings-box">
                                <div class="pull-left width-50">
                                    <!-- #section:settings.skins -->
                                    <div class="ace-settings-item">
                                        <div class="pull-left">
                                            <select id="skin-colorpicker" class="hide">
                                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                            </select>
                                        </div>
                                        <span>&nbsp; 更换皮肤</span>
                                    </div>

                                    <!-- /section:settings.skins -->

                                    <!-- #section:settings.navbar -->
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                                        <label class="lbl" for="ace-settings-navbar"> 固定顶部导航条</label>
                                    </div>

                                    <!-- /section:settings.navbar -->

                                    <!-- #section:settings.sidebar -->
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                                        <label class="lbl" for="ace-settings-sidebar"> 固定侧边菜单</label>
                                    </div>

                                    <!-- /section:settings.sidebar -->

                                    <!-- #section:settings.breadcrumbs -->
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                                        <label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑</label>
                                    </div>

                                    <!-- /section:settings.breadcrumbs -->

                                    <!-- #section:settings.rtl -->
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                                        <label class="lbl" for="ace-settings-rtl"> 切换菜单到右侧</label>
                                    </div>

                                    <!-- /section:settings.rtl -->

                                    <!-- #section:settings.container -->
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                                        <label class="lbl" for="ace-settings-add-container">
                                            切换到窄屏
                                        </label>
                                    </div>

                                    <!-- /section:settings.container -->
                                </div><!-- /.pull-left -->

                                <div class="pull-left width-50">
                                    <!-- #section:basics/sidebar.options -->
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
                                        <label class="lbl" for="ace-settings-hover"> 二级菜单浮动显示</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
                                        <label class="lbl" for="ace-settings-compact"> 简洁菜单</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
                                        <label class="lbl" for="ace-settings-highlight"> 活动菜单交互</label>
                                    </div>

                                    <!-- /section:basics/sidebar.options -->
                                </div><!-- /.pull-left -->
                            </div><!-- /.ace-settings-box -->
                        </div><!-- /.ace-settings-container -->
                        <!-- /section:设置框 end -->

                        <iframe id="main_iframe" name="main_iframe" width="100%" height="100%" src="/queryAll" frameborder="0" scrolling="auto" marginwidth="0" marginheight="0"  allowtransparency="yes" style="border:0;overflow-x:hidden;"></iframe>

                    </div><!-- /.page-content -->
                </div>

            </div><!-- /.main-content -->



        </div><!-- /.main-container -->

        <!-- basic scripts -->

        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='/js/jquery.js'>"+"<"+"/script>");
        </script>
        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
            window.jQuery || document.write("<script src='/js/jquery1x.js'>"+"<"+"/script>");
        </script>
        <![endif]-->

        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.js'>"+"<"+"/script>");

            $(function(){
                var Sys = {};
                var ua = navigator.userAgent.toLowerCase();
                if (window.ActiveXObject){
                    Sys.ie = ua.match(/msie ([\d.]+)/)[1];
                    if (Sys.ie<=9){
                        $('#ie_lt9_alert').css({'display':'block'});  //浏览器版本太旧提示。
                    }
                }
            });

        </script>
        <script src="/js/bootstrap.js"></script>

        <!-- ace scripts -->
        <script src="/js/ace/elements.scroller.js"></script><!--不能删除-->
        <script src="/js/ace/elements.colorpicker.js"></script><!--颜色选择器：皮肤更换会用到-->

        <script src="/js/ace/ace.js"></script>
        <script src="/js/ace/ace.sidebar.js"></script><!--侧栏菜单控制：关闭隐藏-->
        <script src="/js/ace/ace.sidebar-scroll-1.js"></script><!--侧栏菜单相关：简洁版菜单会用到-->
        <script src="/js/ace/ace.submenu-hover.js"></script><!--侧栏菜单相关-->
        <script src="/js/ace/ace.settings.js"></script><!--设置：不能删除-->
        <script src="/js/ace/ace.settings-rtl.js"></script><!--设置：不能删除-->
        <script src="/js/ace/ace.settings-skin.js"></script><!--设置皮肤：不能删除-->
        <script src="/js/ace/ace.widget-on-reload.js"></script><!--可删除-->

        <!-- inline scripts related to this page -->
        <style type="text/css">
            div.page-content{padding: 0px;margin:0px;padding-left: 0px;/*padding-left: 18px;*/}
            #main_iframe{
                margin:0px;padding:0px;
                position:relative;left:0px;top:0px;width: 100%;border:1px solid #ccc;overflow: hidden;
            }
            div.quick-nav{
                border-bottom:1px solid #ccc;padding: 6px 3px 7px 3px;text-align: center;
                color: #439251;background-color: #ffc26c; /*绿87b87f  黄ffc26c*/
            }
            #sidebar-collapse{color:red;}
        </style>

    </body>
</html>
